 {% load static %}

<!Doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type = "text/css" href="{% static 'css/bootstrap.min.css' %}" >
    <link rel="stylesheet" type = "text/css" href="{% static 'css/base.css' %}" >
    <link rel= "stylesheet" type = "text/cs" href = "{% static 'css/fontawesome.min.css' %}">
    <!-- favicon -->
    <link rel="icon" 
      type="image/png" 
      href="{% static 'img/home/favicon.png' %}">
  </head>
  <body>
    <!-- Navbar for homepage links -->
     <nav class="navbar navbar-expand-md navbar-light">
     
    <a class="navbar-brand " href="#" ><img src = "{% static 'img/home/logo.png' %}" height = "50"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarNav">
     <ul class="navbar-nav mr-auto ">
        </ul>
        <ul class="navbar-nav fl-nav-right-pad">
            
            <li class="nav-item ">
               <a name="" id="" class="btn btn-success fl-btn-small mr-md-5" href="{% url 'signup' %}" role="button">Register</a>
            </li>
            <li class= "nav-item">
                <a name="" id="" class="btn btn-success fl-btn-small" href="{% url 'login' %}" role="button">Login</a>
                           
            </li>
            {% comment %} <li class="nav-item ">
                    <button class="btn dropdown-toggle fl-btn-small" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                                ENG
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item disabled" href="#">Disabled action</a>
                        <h6 class="dropdown-header">Section header</h6>
                        <a class="dropdown-item" href="#">Action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">After divider action</a>
                    </div>
            </li> {% endcomment %}
        </ul>
    </div>
</nav>

    <!-- End of Navbar -->

    
    
    {% block content %}

    {% endblock content %}


<!-- Footer -->
	<section class = "text-white fl-foot-bk1 ">
		<div class=" fl-foot-bk1">
			<div class="row text-center text-xs-center text-sm-left text-md-left ">
				<div class="col-xs-12 col-sm- col-md-">
					 <img class = "footer-first-col" src = "{% static 'img/home/logo.png' %}" height = "50" />
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Dropdown button
                    </button>
  
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
		</div>
				<div class="col-xs-12 col-sm-2 col-md-2">
					<h5 class = "text-light" >Company</h5>
					<ul class="list-unstyled quick-links text-light">
						<li><a class = "text-light" href="">About Us</a></li>
						<li><a class = "text-light" href="">Carees</a></li>
						<li><a class = "text-light" href="">Our Partners</a></li>
						<li><a class = "text-light" href="">How it works</a></li>
						<li><a class = "text-light" href="">Our Team</a></li>
                        <li><a class = "text-light" href="">FAQ</a></li>
                        <li><a class = "text-light" href="">Privacy Policy</a></li>
					</ul>
				</div>
                	<div class="col-xs-12 col-sm-2 col-md-2">
					<h5 class = "text-light" >Categories</h5>
					<ul class="list-unstyled quick-links">
						<li><a class = "text-light" href="">Graphic Design</a></li>
						<li><a class = "text-light" href="">Digital Marketing</a></li>
						<li><a class = "text-light" href="">Writing & Translation</a></li>
						<li><a class = "text-light" href="">Video & Animation</a></li>
						<li><a class = "text-light" href="">Music & Audio</a></li>
					</ul>
				</div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                <br>
               			<ul class="list-unstyled quick-links">
						<li><a class = "text-light" href="">Web Development</a></li>
						<li><a class = "text-light" href="">Mobile App Developement</a></li>
						<li><a class = "text-light" href="">Business</a></li>
						<li><a class = "text-light" href="">Life Style</a></li>
						<li><a class = "text-light" href="">Accounting</a></li>
					</ul>
				</div>
                
                
				
                <div class="col-xs-12 col-sm-2 col-md-2">
					<h5 class = "text-light" >Browse</h5>
					<ul class="list-unstyled quick-links">
						<li><a class = "text-light" href="">Freelancers by Skill</a></li>
						<li><a class = "text-light" href="">Freelancers in Europe</a></li>
						<li><a class = "text-light" href="">Freelancers in Asia</a></li>
						<li><a class = "text-light" href="">Freelancers in Africa</a></li>
						<li><a class = "text-light" href="">Jobs in Europe</a></li>
                        <li><a class = "text-light" href="">Jobs in US</a></li>
                        <li><a class = "text-light" href="">Find Jobs</a></li>
					</ul>
				</div>
			</div>
  
	
	</section>
    
      <div class="fl-foot-bk2 ">
  <div class="row ">
    <div class="col-4">
    <ul class="list-unstyled list-inline social text-center">
	<li class="list-inline-item"><a href=""><i class="fa fa-facebook"></i></a></li>
	<li class="list-inline-item"><a href=""><i class="fa fa-twitter"></i></a></li>
	<li class="list-inline-item"><a href=""><i class="fa fa-instagram"></i></a></li>
	<li class="list-inline-item"><a href=""><i class="fa fa-google-plus"></i></a></li>
	<li class="list-inline-item"><a href="" target="_blank"><i class="fa fa-envelope"></i></a></li>
	</ul></div>
    <div class="col-8">	<p class="h6 text-light ">© All right Reversed.<a class="text-light ml-2" href="" target="_blank">freelance.com</a></p>
</div>
  </div>
</div>

	<!-- end of footer -->

    <!--  End of  Sign up modal -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" ></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" ></script>
    <script src="{% static 'js/fontawesome.min.js' %}" ></script>
    <script src="{% static 'js/customscripts.js' %}" ></script>
  </body>
</html>