 {% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type = "text/css" href="{% static 'css/bootstrap.min.css' %}" >
    <link rel="stylesheet" type = "text/css" href="{% static 'css/base.css' %}" >
    <link rel= "stylesheet" type = "text/cs" href = "{% static 'css/fontawesome.min.css' %}">
    <title>Login</title>
   
  </head>
  <body>
        {% comment %} <a class=" navbar navbar-expand navbar-brand navbar-light" href="#" ><img src = "{% static 'img/home/logo.png' %}" height = "40"/></a> {% endcomment %}
        <nav class="navbar navbar-expand navbar-light bg-light">
            <div class="nav navbar-nav">
                <a class="navbar-brand " href="#" ><img src = "{% static 'img/home/logo.png' %}" height = "40"/></a>
            </div>
        </nav> 


    <!--    Sign up modal -->
       <div class="" id="signUpModal">
           <div class="modal-dialog modal-md" role="document">
               <div class="modal-content ">
                   <div class="modal-header fl-pm-dk">
                       <h5 class="modal-title">Get your account</h5>
                   </div>
            <div class="modal-body fl-modal-cnt">
        <form class = "form-group fl-modal-cnt" action = "">
        <!-- first name and last name -->
         <div class = "fl-modal-cnt row ">
           <div class=" col form-group fl-input fl-left">
            <i class="fa fa-user input-icon" aria-hidden="true"></i>
            <input class = "form-control form-control-sm input-success fl-input-xs" type="text"  id="userFirstName" placeholder = "First Name" >
           </div>
         <div class="col form-group fl-input fl-left">
            <i class="fa fa-user input-icon" aria-hidden="true"></i>
            <input class = "form-control form-control-sm input-success fl-input-sm fl-input-xs" type="text"  id="userLastName" placeholder = "Last Name" >
          </div>
          </div> 
          <!-- username -->
          <div class="form-group fl-modal-cnt fl-input fl-left">
            <i class="fa fa-user input-icon" aria-hidden="true"></i>
            <input class = "form-control form-control-sm input-success fl-input-sm" type="text" id="username" placeholder = "Username" >
            </div>
          <!-- email -->
          <div class="form-group fl-modal-cnt fl-input fl-left">
            <i class="fa fa-envelope input-icon" aria-hidden="true"></i>
            <input class = "form-control form-control-sm input-success fl-input-sm" type="email" class="form-control" id="user-email" placeholder = "Sign up with Email" >
          </div>
           <div class="invalid-feedback">
          The email or password you entered is incorrect
         </div>
         <!-- Password-->
          <div class="form-group fl-input fl-left">
            <i class="fa fa-lock fl-left input-icon" aria-hidden="true"></i>
            <input class = "form-control form-control-sm input-success input-sm fl-input-sm" type="password" class="form-control" name = "user-pwd-rpt" id="user-pwd-rpt"  placeholder = "Password" >
          </div>
          <!--Repeat Password-->
           <div class="form-group fl-input fl-left">
            <i class="fa fa-lock fl-left input-icon" aria-hidden="true"></i>
            <input class = "form-control form-control-sm input-success input-sm fl-input-sm" type="password" class="form-control" name = "user-pwd" id="user-pwd"  placeholder = "Repeat Password" >
          </div>
          <!--Password not matching-->
          <div class="invalid-feedback">
          The email or password you entered is incorrect
         </div>

         <div class="form-group">
             <label for="inputCountry"></label>
             <select class="from-control form-control-md fl-input-small" name="userCountry" id="userCountry">
                 <option selected>Choose Country</option>
                 <option value="Ghana">Ghana</option>
                 <option value=""></option>
                 <option value=""></option>
             </select>
         </div>
        <div>
        <p>Chose your type of subscription:</p>
   <div class="btn-group btn-sm text-dark btn-group-toggle radio-toolbar" data-toggle="buttons">
  <label class="btn btn-success active">
    <input type="radio" name="userType" id="freelancer" value = "freelancer"checked> Freelancer
  </label>
  <label class="btn btn-success">
    <input type="radio" name="userType" id="client" value = "client"> Client
  </label>
  
</div>
      
        
        
        <div class="form-check form-check-inline">
            <label class="form-check-label">
            <input class="form-check-input form-check-success" type="checkbox" name="" id="" value="checkedValue"> Yes, I understand and Agree
                to the Terms and Conditions including the User Agreement and Privacy Policy.
            </label>
        </div>
        </div>
        <button type="submit" class="btn btn-success btn-sm fl-btn-small fl-modal-login reset" >Get your free account</button> 
        </form>    
        </div>

                <div class="modal-footer fl-modal-cnt">
        <a name="" id="google-sign" class="btn btn-secondary btn-sm fl-btn-small-dk fl-modal-login  fl-sc-dk" href="#" role="button">
        Sign with Google <i class="fa fa-google fa-dk" style = "padding-left:1rem" aria-hidden="true"></i></a>
                   </div>
               </div>
           </div>
     

    
    <footer>    
      <div class="fl-foot-bk2 ">
  <div class="row ">
    <div class="col-4">
    <ul class="list-unstyled list-inline social text-center">
	<li class="list-inline-item"><a href=""><i class="fa fa-facebook"></i></a></li>
	<li class="list-inline-item"><a href=""><i class="fa fa-twitter"></i></a></li>
	<li class="list-inline-item"><a href=""><i class="fa fa-instagram"></i></a></li>
	<li class="list-inline-item"><a href=""><i class="fa fa-google-plus"></i></a></li>
	<li class="list-inline-item"><a href="" target="_blank"><i class="fa fa-envelope"></i></a></li>
	</ul></div>
    <div class="col-8">	<p class="h6 text-light ">© All right Reversed.<a class="text-light ml-2" href="" target="_blank">freelance.com</a></p>
</div>
  </div>
</div>
    </footer>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" ></script>
    <script src="{% static 'js/customscripts.js' %}" ></script>
    <script src="{% static 'js/fontawesome.min.js' %}" ></script>

  </body>
</html>
{% comment %} {% extends 'base/footer.html' %} {% endcomment %}



 

